<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eating.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eating.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @eating.picture %>
</p>

<%= link_to 'Edit', edit_eating_path(@eating) %> |
<%= link_to 'Back', eatings_path %>
